
    <div class="card">
{{ form_start(form) }}
<div style="justify-content: center;">

    {{ form_widget(form) }}
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

</div>